/* All global styles for our project */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Raleway:wght@400;500;600&display=swap");
html {
  font-size: 10px;
  /* we don't want horizontal scroll bar because in future when we add menu which will go outside viewport */
  overflow-x: hidden;
}
:root {
  --red-1: rgb(239, 79, 95);
  --red-2: rgb(235, 119, 133);
  --lightRed-1: #ffcccb;
  --lightRed-2: rgb(255, 237, 239);
  --black-1: #3b413a;
  --black-2: #3f3c3c;
  --black-3: #5b6359;
  --white-1: #e8e8e8;
}

body {
  background-color: var(--lightRed-2);
  /* makes sure you cannot scroll horizontally to menu */
  overflow-x: hidden;
}

/* everything in our website will be in padding */
section {
  /* padding top and bottom will be 100px and padding left and right will be 0 */
  padding: 100px 0;
}

/* for each of our component we will have width of 90%, max-width:1200px means when screen sizes increases all content will be wrapped within this */
/* margin 0 auto keeps everything in center */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

h1,
h2,
h3,
h4 {
  font-family: "Poppins";
}

p {
  font-family: "Raleway";
  font-weight: 400;
  line-height: 1.4em;
  font-size: 1.8rem;
}

a {
  /* inline block allows to set a width and height, top & bottom margins are respected and does not add a line break */
  display: inline-block;
  text-decoration: none;
}

/* media query for mobile devices */
@media only screen and (max-width: 768px) {
  section {
    padding: 50px 0;
  }
}
